{% extends "base.html" %}

{% block content %}
  <h2>Raw US Data: Dynamic Table</h2>
  <div class="table-responsive">
    <table id="datatable" class="table table-striped table-sm">
      <thead>
        <tr>
          <th>State/City</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Confirmed</th>
          <th>Recovered</th>
          <th>Deaths</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
  <!-- JS  -->
  <script type="text/javascript" src="{{ url_for('static',filename='js/data_examples.js') }}"></script>
  {% endblock %}